
IPv4dev={{ ipv4.dev }}
IPv4addr={{ ipv4.addr }}/24
IPv4gw={{ ipv4.gw }}
dhcpReserv=0
install_user={{ install_user }}
VPN=wireguard
pivpnPORT=51820
pivpnDNS1={{ dns.one }}
pivpnDNS2={{ dns.two }}
pivpnHOST={{ ansible_default_ipv4.address }}
UNATTUPG=1